/*!
 * Preboot v2
 *
 * Open sourced under MIT license by @mdo.
 * Some variables and mixins from Bootstrap (Apache 2 license).
 */
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: 'timesbold';
  src: url('../fonts/TimesBold/Times_Bold-webfont.eot');
  src: url('../fonts/TimesBold/Times_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/TimesBold/Times_Bold-webfont.woff2') format('woff2'), url('../fonts/TimesBold/Times_Bold-webfont.woff') format('woff'), url('../fonts/TimesBold/Times_Bold-webfont.ttf') format('truetype'), url('../fonts/TimesBold/Times_Bold-webfont.svg#timesbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaregular';
  src: url('../fonts/HelveticaRegular/948646-webfont.eot');
  src: url('../fonts/HelveticaRegular/948646-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaRegular/948646-webfont.woff2') format('woff2'), url('../fonts/HelveticaRegular/948646-webfont.woff') format('woff'), url('../fonts/HelveticaRegular/948646-webfont.ttf') format('truetype'), url('../fonts/HelveticaRegular/948646-webfont.svg#helveticaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'tradegothiclight';
  src: url('../fonts/TradeGothicLight/TradeGothicW01Light.eot');
  src: url('../fonts/TradeGothicLight/TradeGothicW01Light.eot?#iefix') format('embedded-opentype'), url('../fonts/TradeGothicLight/TradeGothicW01Light.woff') format('woff2'), url('../fonts/TradeGothicLight/TradeGothicW01Light.woff') format('woff'), url('../fonts/TradeGothicLight/TradeGothicW01Light.ttf') format('truetype'), url('../fonts/TradeGothicLight/948646-webfont.svg#helveticaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans/PTS55F_W.eot');
  src: url('../fonts/PTSans/PTS55F_W?#iefix') format('embedded-opentype'), url('../fonts/PTSans/PTS55F_W.woff') format('woff'), url('../fonts/PTSans/PTS55F_W.ttf') format('truetype'), url('../fonts/PTSans/PTS55F_W.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  src: url('../fonts/PTSans/PTS56F_W.eot');
  src: url('../fonts/PTSans/PTS56F_W?#iefix') format('embedded-opentype'), url('../fonts/PTSans/PTS56F_W.woff') format('woff'), url('../fonts/PTSans/PTS56F_W.ttf') format('truetype'), url('../fonts/PTSans/PTS56F_W.svg#PTSans-Italic') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans/PTS75F_W.eot');
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/PTSans/PTS75F_W?#iefix') format('embedded-opentype'), url('../fonts/PTSans/PTS75F_W.woff') format('woff'), url('../fonts/PTSans/PTS75F_W.ttf') format('truetype'), url('../fonts/PTSans/PTS75F_W.svg#PTSans-Bold') format('svg');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/PTSans/PTS76F_W.eot');
  src: url('../fonts/PTSans/PTS76F_W?#iefix') format('embedded-opentype'), url('../fonts/PTSans/PTS76F_W.woff') format('woff'), url('../fonts/PTSans/PTS76F_W.ttf') format('truetype'), url('../fonts/PTSans/PTS76F_W.svg#PTSans-BoldItalic') format('svg');
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* mobile firefox too! */
}
.container,
.header__i,
.page,
.nav-bottom__i {
  max-width: 1108px;
  padding: 0 78px;
  margin: 0 auto;
}
.placeholder {
  color: #ccc;
  font-size: 0.6875em;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  background: url("../images/bg.png") repeat;
}
.header {
  background: #000;
}
.header__i {
  *zoom: 1;
}
.header__i:before,
.header__i:after {
  content: " ";
  display: table;
  line-height: 0;
}
.header__i:after {
  clear: both;
}
.header__i:before,
.header__i:after {
  content: "";
  display: table;
}
.header__i:after {
  clear: both;
}
.header__link,
.header__join-link {
  display: inline-block;
  font: 0.75em timesbold;
  padding: 12px 0 11px;
}
.header__link {
  color: #fff;
  text-transform: uppercase;
  padding-left: 40px;
  position: relative;
}
.header__link:before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 33px;
  height: 24px;
  background: url(../images/header_earth.png) no-repeat;
}
.header__join-link {
  color: #e71c25;
  margin: 0 0 0 8px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 0.75em;
}
.header-nav {
  float: right;
}
.header-nav__item {
  margin-left: 15px;
}
.header-nav__item,
.header-nav__link {
  display: inline-block;
}
.header-nav__link {
  color: #fff;
  text-transform: uppercase;
  font: 0.6875em timesbold;
  padding: 11px 0;
  position: relative;
}
.header-nav__link_icon {
  padding-left: 25px;
}
.header-nav__link_icon:before {
  content: '';
  position: absolute;
  left: 0;
}
.header-nav__link_chat:before {
  background: url(../images/chat.png) no-repeat;
  width: 19px;
  height: 18px;
  top: 7px;
}
.header-nav__link_flag {
  font-family: Helvetica;
}
.header-nav__link_flag:before {
  background: url(../images/flag.png) no-repeat;
  width: 16px;
  height: 11px;
  top: 10px;
  left: 4px;
}
.header_mobile {
  display: none;
}
.page {
  background: #fff;
}
.page-header {
  text-align: center;
  position: relative;
}
.page-header__logo {
  width: 37.9%;
  margin: 19px 0 15px;
  height: auto;
}
.page-header__register {
  position: absolute;
  left: 0;
  top: 0;
  margin: 12px 0;
  text-transform: uppercase;
  font-family: Helvetica;
  font-weight: bold;
}
.page-header__register li {
  float: left;
  font-size: 0.6875em;
  padding-left: 10px;
}
.page-header__register li:first-child {
  padding: 0 10px 0 0;
  border-right: 1px dotted #000;
}
.page-header__register li a {
  color: #000;
}
.page-header__samples {
  position: absolute;
  right: 0;
  letter-spacing: 0.04em;
  top: 0;
  margin: 11px 0;
  color: #ff0000;
  font-size: 0.6875em;
  font-family: Helvetica;
}
.page-header__bag {
  position: absolute;
  height: 22px;
  right: 0;
  bottom: 11px;
}
.page-header__bag-link {
  color: #fff;
  font-size: 0.625em;
  padding: 6px 7px;
  background: #202629;
  text-transform: uppercase;
  font-family: Helvetica;
  font-weight: bold;
}
.page-header__search {
  width: 18.48%;
  position: absolute;
  left: 0;
  bottom: 13px;
  color: #ccc;
}
.page-header__search img {
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
}
.page-header__search-input {
  width: 100%;
  padding: 8px;
  font-size: 0.75em;
  font-family: Helvetica, Arial;
  border: 1px solid #ccc;
}
.nav {
  padding: 7px 2.5%;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  *zoom: 1;
}
.nav:before,
.nav:after {
  content: " ";
  display: table;
  line-height: 0;
}
.nav:after {
  clear: both;
}
.nav:before,
.nav:after {
  content: "";
  display: table;
}
.nav:after {
  clear: both;
}
.nav__item {
  font-size: 0.9375em;
  font-family: Times New Roman;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  margin-right: 6.65%;
}
.nav__item_gifts {
  font-size: 0.875em;
  margin-right: 67px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  color: #000;
}
.bread-crumbs {
  width: 100%;
  padding: 9px 0 6px;
  *zoom: 1;
}
.bread-crumbs:before,
.bread-crumbs:after {
  content: " ";
  display: table;
  line-height: 0;
}
.bread-crumbs:after {
  clear: both;
}
.bread-crumbs:before,
.bread-crumbs:after {
  content: "";
  display: table;
}
.bread-crumbs:after {
  clear: both;
}
.bread-crumbs__item {
  float: left;
  font-size: 0.6875em;
  font-family: Helvetica, Arial;
  color: #767676;
}
.bread-crumbs__item_slash {
  padding: 0 1.05%;
}
.bread-crumbs__link {
  text-transform: uppercase;
  color: #767676;
}
.bread-crumbs__link_active {
  color: #d8492c;
}
.bread-crumbs__link span {
  display: none;
}
.content {
  width: 100%;
  position: relative;
  background: #f5efe6;
}
.content__image_top {
  position: absolute;
  width: 100%;
  height: auto;
}
.content__image_logo {
  width: 18.29%;
  height: auto;
  margin: 0 auto;
  padding: 51px 0 45px;
  display: block;
}
.content__lent {
  width: 100%;
  position: relative;
  height: 46px;
}
.content__lent-title {
  height: 32px;
  padding: 0px 0;
  margin: 8px auto;
  font-size: 1.4em;
  font-family: PT Sans;
  font-weight: bold;
  font-style: normal;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  position: relative;
  top: 7px;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}
.content__lent-title_about {
  width: 258px;
}
.content__lent-title_mission {
  width: 335px;
}
.content__lent-title_event {
  width: 318px;
}
.content__lent-img {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.content__lent-img_mob {
  display: none;
}
.content-about {
  width: 72.24%;
  margin: 0 auto;
  text-align: center;
}
.content-about__text {
  color: #000;
  font-size: 0.9375em;
  font-family: Helvetica, Arial;
  font-weight: normal;
  padding: 23px 0 19px;
  line-height: 1.4em;
}
.content-about__quote {
  color: #000;
  width: 62.58%;
  margin: 0 auto;
  font-family: Times New Roman;
  font-weight: bold;
}
.content-about__quote-sign {
  font-size: 1.875em;
  line-height: 0.9em;
}
.content-about__quote-text {
  font-size: 1.0625em;
  padding-bottom: 16px;
}
.content-about__author {
  font-size: 0.8125em;
  font-family: Helvetica, Arial;
  font-weight: bold;
  color: #000;
  padding-top: 7px;
}
.content-about__img {
  padding: 24px 0 33px;
  margin: 0 auto;
  width: 26.6%;
  height: auto;
  display: block;
}
.content-mission {
  width: 72.24%;
  margin: 0 auto;
  text-align: center;
}
.content-mission__text {
  color: #000;
  font-size: 0.9375em;
  font-family: Helvetica, Arial;
  font-weight: normal;
  padding: 26px 0 20px;
  line-height: 1.4em;
}
.content-mission__text_little {
  padding: 23px 0 16px;
}
.content-mission__money {
  color: #e71c25;
  width: 77.3%;
  margin: 0 auto;
  position: relative;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  *zoom: 1;
}
.content-mission__money:before,
.content-mission__money:after {
  content: " ";
  display: table;
  line-height: 0;
}
.content-mission__money:after {
  clear: both;
}
.content-mission__money:before,
.content-mission__money:after {
  content: "";
  display: table;
}
.content-mission__money:after {
  clear: both;
}
.content-mission__money .sign {
  vertical-align: middle;
  float: left;
}
.content-mission__money-num {
  height: 60px;
  margin: 0 3px;
  padding: 0px 15px 0;
  border: 2px solid #4f4e4d;
  font-size: 3em;
  line-height: 56px;
  background: #fff;
}
.content-mission__money-num_first:before {
  content: '$';
  position: absolute;
  left: -58px;
  font-size: 56px;
  top: 3px;
}
.content-mission__money-pt {
  padding: 0 8px;
  font-size: 3em;
}
.content-mission__img {
  padding: 0 0 34px;
  margin: 0 auto;
  width: 13.77%;
  height: auto;
  display: block;
}
.content-events {
  width: 70.24%;
  margin: 0 auto;
  text-align: center;
}
.content-events__text {
  color: #000;
  font-size: 0.9375em;
  font-family: Helvetica, Arial;
  font-weight: normal;
  line-height: 1.35em;
}
.content-events__text span {
  color: #ef2c1e;
}
.content-events__text_top {
  padding: 29px 0 0 0;
}
.content-events__text_bottom {
  padding: 18px 0 24px;
}
.content-slider {
  width: 654px;
  height: 444px;
  position: relative;
  margin: 0 auto;
}
.content-slider__list {
  width: 654px;
  margin: 0 auto;
  background: #fff;
  height: 444px;
  border: 2px solid #e2e1de;
  padding: 12.5px 12px;
  -moz-box-shadow: 6px 6px 3px #222;
  -webkit-box-shadow: 6px 6px 3px #222;
  box-shadow: 6px 6px 3px #c1c0bc;
}
.content-slider__item img {
  width: 100%;
  height: 100%;
}
.content-bottom {
  height: 334px;
  width: 100%;
  position: relative;
  margin-top: 6px;
}
.content-bottom__image {
  position: absolute;
  width: 97%;
  height: auto;
  bottom: 0;
  right: 0;
}
.footer {
  border-top: 6px solid #000;
  width: 100%;
  position: relative;
  *zoom: 1;
}
.footer:before,
.footer:after {
  content: " ";
  display: table;
  line-height: 0;
}
.footer:after {
  clear: both;
}
.footer:before,
.footer:after {
  content: "";
  display: table;
}
.footer:after {
  clear: both;
}
.footer__logo {
  float: left;
  margin: 34px 2.52% 0 0;
  width: 9.87%;
  height: auto;
}
.footer__list {
  *zoom: 1;
  width: 65.12605042%;
  float: left;
  margin: 30px 0 34px;
  border-right: 2px solid #000;
}
.footer__list:before,
.footer__list:after {
  content: " ";
  display: table;
  line-height: 0;
}
.footer__list:after {
  clear: both;
}
.footer__list:before,
.footer__list:after {
  content: "";
  display: table;
}
.footer__list:after {
  clear: both;
}
.footer__item {
  float: left;
  margin-right: 3.5483871%;
}
.footer__item ul li {
  font-size: 0.625em;
  padding: 0 0 7px 0;
  font-family: Arial;
}
.footer__item ul li a {
  color: #000;
}
.footer__item ul li:first-child {
  font-size: 0.6875em;
  padding: 0 0 14px 0;
  text-transform: uppercase;
  font-weight: bold;
}
.footer__item ul li:last-child {
  padding: 0 0 23px 0;
}
.footer__item_men {
  margin-right: 3.8%;
}
.footer__item_body {
  margin-right: 4.2%;
}
.footer__item_tablet {
  display: none;
}
.footer__item_hair-more {
  margin-right: 5%;
  padding-bottom: 10px;
}
.footer-connect {
  width: 19.95798319%;
  float: left;
  margin: 26px 0;
}
.footer-connect__item {
  position: relative;
  margin: 0 0 6px 34px;
  font-family: Arial;
}
.footer-connect__item:first-child {
  padding: 0 0 13px 14px;
  margin: 0;
}
.footer-connect__item:first-child a {
  font-size: 0.6875em;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
}
.footer-connect__item_icon:before {
  content: '';
  position: absolute;
  left: -17px;
}
.footer-connect__item_twitter:before {
  background: url(../images/twitter.png) no-repeat;
  width: 17px;
  height: 17px;
  background-size: 17px;
}
.footer-connect__item_insta:before {
  background: url(../images/insta.png) no-repeat;
  width: 17px;
  height: 17px;
  background-size: 17px;
}
.footer-connect__item_pin:before {
  background: url(../images/pinterest.png) no-repeat;
  width: 17px;
  height: 17px;
  background-size: 17px;
}
.footer-connect__item_youtube:before {
  background: url(../images/youtube.png) no-repeat;
  width: 17px;
  height: 17px;
  background-size: 17px;
}
.footer-connect__item_fb {
  margin-left: 18px;
}
.footer-connect__link {
  font-size: 0.6875em;
  padding-left: 5px;
  color: #000;
  text-transform: uppercase;
}
.footer-signup {
  position: absolute;
  bottom: 30px;
  right: 0;
  width: 20.27310924%;
  box-sizing: border-box;
  font-family: Arial;
}
.footer-signup p {
  font-size: 0.6875em;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.footer-signup__input {
  width: 100%;
  height: 25px;
  padding: 8px 8px;
  font-size: 0.6875em;
  border: 1px solid #ccc;
  position: relative;
  display: block;
  color: #ccc;
}
.footer-signup__btn {
  position: absolute;
  background: url(../images/signup.png) no-repeat;
  width: 25px;
  height: 25px;
  right: 0;
  bottom: 0;
  cursor: pointer;
  outline: none;
  border: none;
}
.footer-tel {
  display: none;
}
.footer-social {
  display: none;
}
.nav-bottom {
  *zoom: 1;
}
.nav-bottom__i {
  background: #fff;
}
.nav-bottom:before,
.nav-bottom:after {
  content: " ";
  display: table;
  line-height: 0;
}
.nav-bottom:after {
  clear: both;
}
.nav-bottom:before,
.nav-bottom:after {
  content: "";
  display: table;
}
.nav-bottom:after {
  clear: both;
}
.nav-bottom__list {
  width: 100%;
  background: #000;
  *zoom: 1;
  padding: 8px 16px;
}
.nav-bottom__list:before,
.nav-bottom__list:after {
  content: " ";
  display: table;
  line-height: 0;
}
.nav-bottom__list:after {
  clear: both;
}
.nav-bottom__list:before,
.nav-bottom__list:after {
  content: "";
  display: table;
}
.nav-bottom__list:after {
  clear: both;
}
.nav-bottom__item {
  float: left;
  text-align: center;
  padding-right: 4.9%;
}
.nav-bottom__item:last-child {
  padding-right: 0;
}
.nav-bottom__link {
  font-family: Times New Roman;
  font-weight: bold;
  font-size: 0.75em;
  color: #fff;
}
@media only screen and (max-width: 1126px) {
  .footer__list {
    font-size: 98%;
  }
}
@media only screen and (max-width: 1120px) {
  .nav__item {
    margin-right: 5.9%;
  }
  .nav-bottom__item {
    padding-right: 4.5%;
  }
  .nav-bottom__item:last-child {
    padding-right: 0;
  }
  .content-mission__money {
    width: 80.5%;
  }
  .footer-signup p {
    font-size: 0.6em;
  }
  .footer__item {
    margin-right: 3%;
  }
  .footer__item_hair-more {
    margin-right: 4%;
  }
}
@media only screen and (max-width: 1077px) {
  .content-mission__money {
    width: 88.32335329%;
  }
  .footer__list {
    font-size: 90%;
  }
  .nav-bottom {
    padding: 8px 1.05152471% 0 1.05152471%;
  }
  .nav-bottom__item {
    padding-right: 3.1%;
  }
  .nav-bottom__item:last-child {
    padding-right: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .container,
  .header__i,
  .page,
  .nav-bottom__i,
  .header__i,
  .page,
  .nav-bottom__i {
    width: 100%;
    padding: 0 5.20833333%;
    margin: 0 auto;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
  }
  h1,
  h2,
  p,
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  body {
    background: url("../images/bg.png") repeat;
  }
  .header {
    background: #000;
  }
  .header__i {
    *zoom: 1;
  }
  .header__i:before,
  .header__i:after {
    content: " ";
    display: table;
    line-height: 0;
  }
  .header__i:after {
    clear: both;
  }
  .header__i:before,
  .header__i:after {
    content: "";
    display: table;
  }
  .header__i:after {
    clear: both;
  }
  .header__link,
  .header__join-link {
    display: inline-block;
    font: 0.75em timesbold;
    padding: 12px 0 11px;
  }
  .header__link {
    color: #fff;
    text-transform: uppercase;
    padding-left: 40px;
    position: relative;
  }
  .header__link:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 33px;
    height: 24px;
    background: url(../images/header_earth.png) no-repeat;
  }
  .header__join-link {
    color: #e71c25;
    margin: 0;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 0.75em;
  }
  .header-nav {
    float: right;
  }
  .header-nav__item {
    margin-left: 5px;
  }
  .header-nav__item:first-child {
    margin-left: 0;
  }
  .header-nav__item,
  .header-nav__link {
    display: inline-block;
  }
  .header-nav__link {
    color: #fff;
    text-transform: uppercase;
    font: 0.6875em timesbold;
    padding: 12px 0 10px;
    position: relative;
  }
  .header-nav__link_icon {
    padding-left: 22px;
  }
  .header-nav__link_icon:before {
    content: '';
    position: absolute;
    left: 0;
  }
  .header-nav__link_chat:before {
    background: url(../images/chat.png) no-repeat;
    width: 19px;
    height: 18px;
    top: 7px;
  }
  .header-nav__link_flag:before {
    background: url(../images/flag.png) no-repeat;
    width: 16px;
    height: 11px;
    top: 12px;
  }
  .page {
    background: #fff;
  }
  .page-header {
    text-align: center;
    position: relative;
  }
  .page-header__logo {
    width: 52.9%;
    margin: 31px 0 14px;
    height: auto;
  }
  .page-header__register {
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px 0;
    text-transform: uppercase;
  }
  .page-header__register li {
    float: left;
    color: #000;
    font-size: 0.6875em;
    padding-left: 10px;
  }
  .page-header__register li:first-child {
    padding: 0 10px 0 0;
    border-right: 1px dotted #000;
  }
  .page-header__samples {
    position: absolute;
    right: 0;
    top: 0;
    margin: 12px 0;
    color: #ff0000;
    font-size: 0.6875em;
  }
  .page-header__bag {
    position: absolute;
    height: 22px;
    right: 0;
    bottom: 9px;
  }
  .page-header__bag-link {
    color: #fff;
    font-size: 0.625em;
    padding: 6px 7px;
    background: #202629;
  }
  .page-header__search {
    width: 17.48%;
    position: absolute;
    left: 0;
    bottom: 12px;
  }
  .page-header__search img {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
  .page-header__search-input {
    width: 100%;
    padding: 7px 8px;
    font-size: 0.75em;
    border: 1px solid #ccc;
  }
  .nav {
    padding: 7px 4.3%;
    *zoom: 1;
  }
  .nav:before,
  .nav:after {
    content: " ";
    display: table;
    line-height: 0;
  }
  .nav:after {
    clear: both;
  }
  .nav:before,
  .nav:after {
    content: "";
    display: table;
  }
  .nav:after {
    clear: both;
  }
  .nav__item {
    margin-right: 12.7%;
  }
  .nav__item_hair {
    margin-right: 12.1%;
  }
  .nav__item_gifts,
  .nav__item_about {
    display: none;
  }
  .nav__item:last-child {
    margin-right: 0;
  }
  .nav__link {
    color: #000;
  }
  .bread-crumbs {
    width: 100%;
    padding: 15px 4px 7px;
    *zoom: 1;
  }
  .bread-crumbs:before,
  .bread-crumbs:after {
    content: " ";
    display: table;
    line-height: 0;
  }
  .bread-crumbs:after {
    clear: both;
  }
  .bread-crumbs:before,
  .bread-crumbs:after {
    content: "";
    display: table;
  }
  .bread-crumbs:after {
    clear: both;
  }
  .bread-crumbs__item {
    float: left;
    font-size: 0.6875em;
  }
  .bread-crumbs__item_slash {
    padding: 0 1.05%;
  }
  .bread-crumbs__link {
    text-transform: uppercase;
    color: #767676;
  }
  .bread-crumbs__link_active {
    color: #d8492c;
  }
  .bread-crumbs__link span {
    display: inline-block;
  }
  .content {
    width: 100%;
    position: relative;
    background: #f5efe6;
  }
  .content__image_top {
    position: absolute;
    width: 100%;
    height: auto;
  }
  .content__image_logo {
    width: 26.1627907%;
    height: auto;
    margin: 0 auto;
    padding: 40px 0 28px;
    display: block;
  }
  .content-about {
    width: 68.31395349%;
    margin: 0 auto;
    text-align: center;
  }
  .content-about__text {
    color: #000;
    padding: 26px 0 19px;
    line-height: 1.35em;
  }
  .content-about__quote {
    color: #000;
    width: 91.46341463%;
    margin: 0 auto;
  }
  .content-about__quote-sign {
    font-size: 1.875em;
  }
  .content-about__quote-text {
    font-size: 1.0625em;
    padding-bottom: 12px;
  }
  .content-about__author {
    font-size: 0.82em;
    font-weight: normal;
    color: #000;
    padding-top: 13px;
    letter-spacing: -0.3px;
  }
  .content-about__img {
    padding: 24px 0 27px;
    margin: 0 auto;
    width: 34.6%;
    height: auto;
    display: block;
  }
  .content-mission {
    width: 100%;
    text-align: center;
  }
  .content-mission__text {
    width: 71.51162791%;
    margin: 0 auto;
    color: #000;
    padding: 28px 0 23px;
    line-height: 1.35em;
  }
  .content-mission__text_little {
    padding: 21px 0 17px;
  }
  .content-mission__money {
    color: #e71c25;
    *zoom: 1;
    max-width: 538px;
    margin: 0 auto;
    position: relative;
    font-weight: bold;
  }
  .content-mission__money:before,
  .content-mission__money:after {
    content: " ";
    display: table;
    line-height: 0;
  }
  .content-mission__money:after {
    clear: both;
  }
  .content-mission__money:before,
  .content-mission__money:after {
    content: "";
    display: table;
  }
  .content-mission__money:after {
    clear: both;
  }
  .content-mission__money .sign {
    vertical-align: middle;
    float: left;
  }
  .content-mission__money-num {
    margin: 0 3px;
    padding: 0px 15px 0;
    border: 2px solid #4f4e4d;
    font-size: 3em;
  }
  .content-mission__money-num_first:before {
    content: '$';
    position: absolute;
    left: -50px;
    font-size: 56px;
    top: 3px;
  }
  .content-mission__money-pt {
    padding: 0 9px;
    font-size: 3em;
  }
  .content-mission__img {
    padding: 0 0 21px;
    margin: 0 auto;
    width: 13.77%;
    height: auto;
    display: block;
  }
  .content-events {
    width: 69.76744186%;
    margin: 0 auto;
    text-align: center;
  }
  .content-events__text {
    color: #000;
    line-height: 1.35em;
  }
  .content-events__text span {
    color: #ef2c1e;
  }
  .content-events__text_top {
    padding: 35px 0 0 0;
  }
  .content-events__text_bottom {
    padding: 18px 0 34px;
  }
  .content-slider {
    width: 492px;
    height: 338px;
    position: relative;
    margin: 0 auto;
  }
  .content-slider__list {
    width: 492px;
    margin: 0 auto;
    background: #fff;
    height: 338px;
    border: 2px solid #e2e1de;
    padding: 12.5px 12px;
    -moz-box-shadow: 6px 6px 3px #222;
    -webkit-box-shadow: 6px 6px 3px #222;
    box-shadow: 6px 6px 3px #c1c0bc;
  }
  .content-slider__item img {
    width: 100%;
    height: 100%;
  }
  .content-bottom {
    height: 265px;
    margin-bottom: 40px;
    margin-top: 2px;
  }
  .footer {
    border-top: 6px solid #000;
    width: 100%;
    position: relative;
    *zoom: 1;
  }
  .footer:before,
  .footer:after {
    content: " ";
    display: table;
    line-height: 0;
  }
  .footer:after {
    clear: both;
  }
  .footer:before,
  .footer:after {
    content: "";
    display: table;
  }
  .footer:after {
    clear: both;
  }
  .footer_border {
    *zoom: 1;
    border-bottom: 2px solid #000;
  }
  .footer_border:before,
  .footer_border:after {
    content: " ";
    display: table;
    line-height: 0;
  }
  .footer_border:after {
    clear: both;
  }
  .footer_border:before,
  .footer_border:after {
    content: "";
    display: table;
  }
  .footer_border:after {
    clear: both;
  }
  .footer__logo {
    float: left;
    margin: 34px 2.90697674% 0 0;
    width: 14.24418605%;
    height: auto;
  }
  .footer__list {
    *zoom: 1;
    width: 82.84883721%;
    float: left;
    margin: 25px 0 0 0;
    border-right: 0;
  }
  .footer__list:before,
  .footer__list:after {
    content: " ";
    display: table;
    line-height: 0;
  }
  .footer__list:after {
    clear: both;
  }
  .footer__list:before,
  .footer__list:after {
    content: "";
    display: table;
  }
  .footer__list:after {
    clear: both;
  }
  .footer__item {
    width: 33.3%;
    float: left;
    margin-right: 0;
    min-height: 175px;
  }
  .footer__item ul li {
    font-size: 0.625em;
    color: #000;
    padding: 0 0 8px 0;
  }
  .footer__item ul li:first-child {
    font-size: 0.75em;
    padding: 0 0 14px 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  .footer__item ul li:last-child {
    padding: 0;
  }
  .footer__item_hair-more {
    float: left;
    min-height: 148px;
  }
  .footer__item_desk {
    display: none;
  }
  .footer__item_tablet {
    display: block;
    padding-left: 6.49122807%;
    min-height: 148px;
  }
  .footer__item_men {
    padding-left: 6.49122807%;
  }
  .footer__item_body {
    padding-left: 6.66666667%;
  }
  .footer__item_about {
    padding-left: 6.66666667%;
    min-height: 148px;
  }
  .footer-connect {
    width: 34.30232558%;
    float: left;
    margin: 17px 0 0;
    border-right: 1px solid #b2b2b2;
  }
  .footer-connect__item {
    position: relative;
    margin: 0 0 7px 16px;
    float: left;
  }
  .footer-connect__item:first-child {
    padding: 0 0 13px 0;
    margin: 0;
    width: 100%;
  }
  .footer-connect__item:first-child a {
    font-size: 0.6875em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
  }
  .footer-connect__item_icon {
    width: 42.37288136%;
  }
  .footer-connect__item_fb {
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 16px;
    width: 42.37288136%;
  }
  .footer-signup {
    position: relative;
    width: 38.6627907%;
    box-sizing: border-box;
    padding: 0 4.94186047%;
    margin-top: 21px;
    bottom: 0;
    float: left;
  }
  .footer-signup p {
    font-size: 0.7em;
  }
  .footer-signup__input {
    width: 88%;
  }
  .footer-signup__btn {
    right: 14.78%;
  }
  .footer-tel {
    display: block;
    width: 27.03488372%;
    height: 100px;
    padding: 0 4.94186047%;
    margin-top: 21px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-left: 1px solid #b2b2b2;
    float: left;
  }
  .footer-tel p {
    font-size: 0.6875em;
    text-transform: uppercase;
    padding-bottom: 11px;
    font-family: Arial;
    font-weight: bold;
  }
  .footer-tel span {
    font-size: 0.625em;
    color: #000;
  }
  .nav-bottom {
    background: #000;
    padding: 0;
    *zoom: 1;
  }
  .nav-bottom__i {
    background: #000;
  }
  .nav-bottom:before,
  .nav-bottom:after {
    content: " ";
    display: table;
    line-height: 0;
  }
  .nav-bottom:after {
    clear: both;
  }
  .nav-bottom:before,
  .nav-bottom:after {
    content: "";
    display: table;
  }
  .nav-bottom:after {
    clear: both;
  }
  .nav-bottom__list {
    width: 100%;
    background: #000;
    *zoom: 1;
    padding: 8px 0;
  }
  .nav-bottom__list:before,
  .nav-bottom__list:after {
    content: " ";
    display: table;
    line-height: 0;
  }
  .nav-bottom__list:after {
    clear: both;
  }
  .nav-bottom__list:before,
  .nav-bottom__list:after {
    content: "";
    display: table;
  }
  .nav-bottom__list:after {
    clear: both;
  }
  .nav-bottom__item {
    float: left;
    text-align: center;
    padding-right: 9%;
  }
  .nav-bottom__item:first-child {
    padding-left: 0;
  }
  .nav-bottom__item:last-child {
    padding-right: 0;
  }
  .nav-bottom__link {
    font-size: 0.75em;
    color: #fff;
  }
  .nav-bottom__tel {
    display: none;
  }
  .nav-bottom__global {
    padding-right: 0;
  }
}
@media only screen and (max-width: 982px) {
  .nav__item {
    margin-right: 10.7%;
  }
  .nav__item_hair {
    margin-right: 10.1%;
  }
  .nav-bottom__item {
    padding-right: 8%;
  }
  .nav-bottom__global {
    padding-right: 0;
  }
}
@media only screen and (max-width: 900px) {
  .nav-bottom__item {
    padding-right: 7%;
  }
  .nav-bottom__global {
    padding-right: 0;
  }
}
@media only screen and (max-width: 830px) {
  .nav-bottom__item {
    padding-right: 5.8%;
  }
  .nav-bottom__global {
    padding-right: 0;
  }
  .nav-bottom__map {
    padding-right: 6.8%;
  }
}
@media only screen and (max-width: 767px) {
  .container,
  .page,
  .nav-bottom__i,
  .header__i,
  .page,
  .nav-bottom__i {
    width: 87.5%;
    margin: 0 auto;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
  }
  h1,
  h2,
  p,
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  body {
    background: #fff;
  }
  .header_mobile {
    display: block;
    background: #fff;
    margin-bottom: 26px;
    margin-top: 21px;
  }
  .header_mobile .menu {
    height: 56px;
    *zoom: 1;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  .header_mobile .menu:before,
  .header_mobile .menu:after {
    content: " ";
    display: table;
    line-height: 0;
  }
  .header_mobile .menu:after {
    clear: both;
  }
  .header_mobile .menu:before,
  .header_mobile .menu:after {
    content: "";
    display: table;
  }
  .header_mobile .menu:after {
    clear: both;
  }
  .header_mobile .menu__item {
    width: 17.1875%;
    height: 55px;
    float: left;
    border-right: 1px solid #cccccc;
    position: relative;
    box-sizing: border-box;
  }
  .header_mobile .menu__item:last-child {
    border-right: 0;
  }
  .header_mobile .menu__item-logo {
    width: 31.25%;
  }
  .header_mobile .menu__item-img {
    width: 40%;
    position: absolute;
    left: 49%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
  }
  .header_mobile .menu__item-img_vector {
    width: 24px;
  }
  .header_mobile .menu__item-img_place {
    width: 17px;
  }
  .header_mobile .menu__item-img_logo {
    width: 98px;
  }
  .header_mobile .menu__item-img_glass {
    width: 22px;
  }
  .header_mobile .menu__item-img_32 {
    width: 22px;
  }
  .header {
    display: none;
  }
  .page {
    padding: 0;
    background: #fff;
  }
  .page-header {
    display: none;
  }
  .nav {
    display: none;
  }
  .bread-crumbs {
    display: none;
  }
  .content {
    width: 100%;
    position: relative;
    background: #f5efe6;
  }
  .content__image_logo {
    width: 32.14285714%;
    padding: 41px 0 33px;
  }
  .content__lent {
    width: 100%;
    position: relative;
    height: 36px;
  }
  .content__lent-title {
    height: 28px;
    line-height: 26px;
    padding: 0px 0;
    margin: 0px auto;
    font-size: 1em;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #fff;
    position: relative;
    top: 4px;
    text-transform: uppercase;
  }
  .content__lent-title_about {
    width: 196px;
  }
  .content__lent-title_mission {
    width: 196px;
  }
  .content__lent-title_event {
    width: 200px;
    font-size: 0.91em;
  }
  .content__lent-img {
    display: none;
  }
  .content__lent-img_mob {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .content__lent-img_about,
  .content__lent-img_mission {
    width: 224px;
  }
  .content__lent-img_events {
    width: 230px;
  }
  .content-about {
    width: 89.28571429%;
    margin: 0 auto;
    text-align: center;
  }
  .content-about__text {
    color: #000;
    font-size: 0.8125em;
    padding: 19px 0;
    line-height: 1.4em;
  }
  .content-about__quote {
    width: 100%;
  }
  .content-about__quote-sign {
    font-size: 1.6875em;
  }
  .content-about__quote-text {
    font-size: 0.8125em;
    padding-bottom: 4px;
  }
  .content-about__author {
    font-size: 0.75em;
    padding-top: 13px;
    letter-spacing: -0.5px;
  }
  .content-about__img {
    padding: 26px 0 28px 12px;
    margin: 0 auto;
    width: 146px;
    height: auto;
    display: block;
  }
  .content-mission {
    width: 100%;
    text-align: center;
  }
  .content-mission__text {
    width: 89.28571429%;
    color: #000;
    font-size: 0.8125em;
    padding: 19px 0 21px 0;
    line-height: 1.4em;
  }
  .content-mission__text_little {
    padding: 19.5px 0 16px;
    font-size: 0.6875em;
    font-weight: normal;
  }
  .content-mission__money {
    color: #e71c25;
    *zoom: 1;
    width: 252px;
    margin: 0 auto;
    padding-left: 28px;
    position: relative;
    font-weight: bold;
  }
  .content-mission__money:before,
  .content-mission__money:after {
    content: " ";
    display: table;
    line-height: 0;
  }
  .content-mission__money:after {
    clear: both;
  }
  .content-mission__money:before,
  .content-mission__money:after {
    content: "";
    display: table;
  }
  .content-mission__money:after {
    clear: both;
  }
  .content-mission__money .sign {
    vertical-align: middle;
    float: left;
  }
  .content-mission__money-num {
    margin: 0 2.4px;
    padding: 0 6px 0;
    border: 1px solid #4f4e4d;
    font-size: 1.25em;
    height: 25px;
    line-height: 25px;
    box-sizing: border-box;
  }
  .content-mission__money-num_first:before {
    content: '$';
    position: absolute;
    left: 5.5px;
    font-size: 24px;
    top: 1px;
  }
  .content-mission__money-pt {
    padding: 0;
    bottom: 0;
    margin-top: -3px;
    font-size: 1.5em;
  }
  .content-mission__img {
    padding: 0 0 33px;
    margin: 0 auto;
    width: 80px;
    height: auto;
    display: block;
  }
  .content-events {
    width: 89.28571429%;
    margin: 0 auto;
    text-align: center;
  }
  .content-events__text {
    width: 89.28571429%;
    color: #000;
    font-size: 0.8125em;
    padding: 19px 0 21px 0;
    line-height: 1.4em;
    margin: 0 auto;
  }
  .content-events__text_top {
    width: 100%;
    padding: 18px 0 0 0;
  }
  .content-events__text_bottom {
    width: 100%;
    padding: 18px 0 18px;
  }
  .content-events__text span {
    color: #ef2c1e;
  }
  .content-slider {
    width: 200px;
    height: 139px;
    position: relative;
    margin: 0 auto;
  }
  .content-slider__list {
    width: 200px;
    margin: 0 auto;
    background: #fff;
    height: 139px;
    border: 1px solid #e2e1de;
    padding: 5px;
    -moz-box-shadow: 3px 3px 1.5px #222222;
    -webkit-box-shadow: 3px 3px 1.5px #222222;
    box-shadow: 3px 3px 1.5px #c1c0bc;
  }
  .content-slider__item img {
    width: 100%;
    height: 100%;
  }
  .content-bottom {
    height: 235px;
    width: 100%;
    position: relative;
    margin-bottom: 0;
  }
  .footer {
    border-top: 2px solid #000;
    width: 100%;
    position: relative;
    *zoom: 1;
  }
  .footer:before,
  .footer:after {
    content: " ";
    display: table;
    line-height: 0;
  }
  .footer:after {
    clear: both;
  }
  .footer:before,
  .footer:after {
    content: "";
    display: table;
  }
  .footer:after {
    clear: both;
  }
  .footer_border {
    display: none;
  }
  .footer__logo {
    display: none;
  }
  .footer__list {
    display: none;
  }
  .footer__item {
    width: 33.3%;
    float: left;
    margin-right: 0;
    min-height: 95px;
  }
  .footer__item ul li {
    font-size: 0.625em;
    color: #000;
    padding: 0 0 5px 0;
  }
  .footer__item ul li:first-child {
    font-size: 0.6875em;
    padding: 0 0 10px 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  .footer__item ul li:last-child {
    padding: 0 0 13px 0;
  }
  .footer__item_hair {
    float: left;
  }
  .footer__item_desk {
    display: none;
  }
  .footer__item_tablet {
    display: block;
  }
  .footer-connect {
    display: none;
  }
  .footer-social {
    display: block;
    *zoom: 1;
    padding: 23px 10px 18px;
  }
  .footer-social:before,
  .footer-social:after {
    content: " ";
    display: table;
    line-height: 0;
  }
  .footer-social:after {
    clear: both;
  }
  .footer-social:before,
  .footer-social:after {
    content: "";
    display: table;
  }
  .footer-social:after {
    clear: both;
  }
  .footer-social__item {
    float: left;
    width: 29px;
    margin-right: 19%;
  }
  .footer-social__item:last-child {
    margin-right: 0;
  }
  .footer-social__item img {
    width: 100%;
    height: auto;
  }
  .footer-social__item_insta {
    margin-right: 0;
  }
  .footer-signup {
    position: relative;
    width: 236px;
    box-sizing: border-box;
    margin: 21px auto 27px;
    padding: 0;
    bottom: 0;
    float: none;
  }
  .footer-signup p {
    font-size: 0.75em;
    text-transform: uppercase;
    padding-bottom: 8px;
    text-align: center;
  }
  .footer-signup__input {
    width: 236px;
    height: 32.5px;
    padding: 10px 6.2px;
    font-size: 0.75em;
    border: 1px solid #ccc;
    position: relative;
    display: block;
  }
  .footer-signup__btn {
    background-size: 34px 32.5px;
    width: 34px;
    height: 32.5px;
    right: 0;
    bottom: 0;
  }
  .footer-tel {
    width: 100%;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    border-left: 0;
    height: 61.5px;
    padding: 15px 0;
    box-sizing: border-box;
    float: none;
    margin-bottom: 0;
  }
  .footer-tel_i {
    display: block;
    width: 248px;
    margin: auto;
    color: #000;
    margin-bottom: 0;
    *zoom: 1;
  }
  .footer-tel_i:before,
  .footer-tel_i:after {
    content: " ";
    display: table;
    line-height: 0;
  }
  .footer-tel_i:after {
    clear: both;
  }
  .footer-tel_i:before,
  .footer-tel_i:after {
    content: "";
    display: table;
  }
  .footer-tel_i:after {
    clear: both;
  }
  .footer-tel_i p {
    float: left;
    font-size: 0.75em;
    text-transform: uppercase;
    padding: 9px 19px 10px 2px;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
  }
  .footer-tel_i span {
    float: left;
    font-size: 0.75em;
    font-weight: normal;
    padding: 9px 0 10px 12px;
  }
  .nav-bottom {
    background: #000;
    padding: 0;
    *zoom: 1;
  }
  .nav-bottom__i {
    *zoom: 1;
    padding: 0;
    margin-bottom: 12px;
  }
  .nav-bottom__i:before,
  .nav-bottom__i:after {
    content: " ";
    display: table;
    line-height: 0;
  }
  .nav-bottom__i:after {
    clear: both;
  }
  .nav-bottom__i:before,
  .nav-bottom__i:after {
    content: "";
    display: table;
  }
  .nav-bottom__i:after {
    clear: both;
  }
  .nav-bottom:before,
  .nav-bottom:after {
    content: " ";
    display: table;
    line-height: 0;
  }
  .nav-bottom:after {
    clear: both;
  }
  .nav-bottom:before,
  .nav-bottom:after {
    content: "";
    display: table;
  }
  .nav-bottom:after {
    clear: both;
  }
  .nav-bottom__list {
    padding: 0;
    width: 100%;
    margin: 0 auto;
  }
  .nav-bottom__item {
    float: none;
    display: inline-block;
    text-align: center;
  }
  .nav-bottom__item:first-child {
    display: block;
    padding: 21px 0 0 0;
    font-size: 1.25em;
  }
  .nav-bottom__item:last-child {
    padding-right: 0;
  }
  .nav-bottom__link {
    color: #fff;
  }
  .nav-bottom__map {
    display: none;
  }
  .nav-bottom__discon {
    display: none;
  }
  .nav-bottom__tel {
    display: none;
  }
  .nav-bottom__global {
    width: 28.92857143%;
    text-align: right;
    padding: 0;
    margin: 11px 0;
  }
  .nav-bottom__privacy {
    width: 32.5%;
    text-align: left;
    padding: 0;
    margin: 11px 0;
    border-right: 1px solid #525252;
  }
  .nav-bottom__terms {
    padding: 0;
    width: 36.78571429%;
    margin: 11px 0;
    border-right: 1px solid #525252;
  }
}
@media only screen and (max-width: 730px) {
  .content-bottom {
    height: 205px;
  }
  .footer-social__item {
    margin-right: 16%;
  }
}
@media only screen and (max-width: 540px) {
  .content-bottom {
    height: 170px;
  }
  .footer-social__item {
    margin-right: 15%;
  }
}
@media only screen and (max-width: 460px) {
  .content-bottom {
    height: 115px;
  }
  .footer-social__item {
    margin-right: 13.5%;
  }
}
@media only screen and (max-width: 384px) {
  .footer-social__item {
    margin-right: 11%;
  }
}
/*# sourceMappingURL=css/all.css.map */