@media only screen and (max-width: 767px){
    .container{
        width: (560/640*100%);
//        padding: 0 (40/640*100%);
        margin: 0 auto;
    }
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 100%;
    }

    h1, h2, p, ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    a {
        text-decoration: none;
    }
    body{
        background: #fff;
    }
    .header_mobile{
        display: block;
        background: #fff;
        margin-bottom: 26px;
        margin-top: 21px;
        .menu{
            height: (112/2px);
            .clearfix;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            &__item{
                width: (110/640*100%);
                height: 110/2px;
                float: left;
                border-right: 1px solid #cccccc;
                position: relative;
                box-sizing: border-box;
                &:last-child{
                    border-right: 0;
                }
            }
            &__item-logo{
                width: (200/640*100%);
            }
            &__item-img{
                width: 40%;
                position: absolute;
                left: 49%;
                .translate(-50%, -50%);
                top: 50%;
                &_vector{
                    width: 24px;
                }
                &_place{
                    width: 17px;
                }
                &_logo{
                    width: 98px;
                }
                &_glass{
                    width: 22px;
                }
                &_32{
                    width: 22px;
                }
            }
        }
    }
    .header{
        display: none;
    }
    .page{
        padding: 0;
        background: #fff;
        &:extend(.container);
        &-header{
            display: none;
        }
    }
    .nav{
        display: none;
    }
    .bread-crumbs{
        display: none;
    }
    .content{
        width: 100%;
        position: relative;
        background: #f5efe6;
        &__image{
            &_logo{
                width: (180/560*100%);
                padding: 41px 0 33px;
            }
        }
        &__lent{
            width: 100%;
            position: relative;
            height: 36px;
        }
        &__lent-title{
            height: 28px;
            line-height: 26px;
            padding: 0px 0;
            margin: 0px auto;
            font-size: (16/16em);
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            color: #fff;
            position: relative;
            top: 4px;
            text-transform: uppercase;
            &_about{
                width: 196px;
            }
            &_mission{
                width: 196px;
            }
            &_event{
                width: 200px;
                font-size: 0.91em;
            }
        }
        &__lent-img {
            display: none;
            &_mob{
                display: block;
                margin: 0 auto;
                position: absolute;
                left: 50%;
                .translate(-50%, 0);
            }
            &_about,
            &_mission{
                width: 224px;
            }
            &_events{
                width: 230px;
            }
        }
        &-about {
            width: (500/560*100%);
            margin: 0 auto;
            text-align: center;
            &__text{
                color: #000;
                font-size: (26/2/16em);
//                font-weight: bold;
                padding: 38/2px 0;
                line-height: 1.4em;
            }
            &__quote{
                width: 100%;
            }
            &__quote-sign{
                font-size: (54/2/16em);
            }
            &__quote-text{
                font-size: (26/2/16em);
                padding-bottom: 8/2px;
            }
            &__author{
                font-size: 0.75em;
                padding-top: 13px;
                letter-spacing: -0.5px;
            }
            &__img{
                padding: 26px 0 28px 12px;
                margin: 0 auto;
                width: 146px;
                height: auto;
                display: block;
            }
        }
        &-mission{
            width: 100%;
            text-align: center;
            &__text{
                width: (500/560*100%);
                color: #000;
                font-size: (26/2/16em);
//                font-weight: bold;
                padding: 38/2px 0 21px 0;
                line-height: 1.4em;
                &_little{
                    padding: 19.5px 0 16px;
                    font-size: (22/2/16em);

                    font-weight: normal;
                }
            }
            &__money{
                color: #e71c25;
                .clearfix;
                width: 252px;
                margin: 0 auto;
                padding-left: 28px;
                position: relative;
                font-weight: bold;
                .sign{
                    vertical-align: middle;
                    float: left;
                }
            }
            &__money-num {
                margin: 0 2.4px;
                padding: 0 12/2px 0;
                border: 1px solid #4f4e4d;
                font-size: 2.5/2em;
                height: 25px;
                line-height: 25px;
                box-sizing: border-box;
                &_first{
                    &:before{
                        content: '$';
                        position: absolute;
                        left: 5.5px;
                        font-size: 24px;
                        top: 1px;
                    }
                }
            }
            &__money-pt {
                padding: 0;
                bottom: 0;
                margin-top: -3px;
                font-size: (48/2/16em);
            }
            &__img{
                padding: 0 0 33px;
                margin: 0 auto;
                width: 80px;
                height: auto;
                display: block;
            }
        }
        &-events {
            width: (500/560*100%);
            margin: 0 auto;
            text-align: center;
            &__text{
                width: (500/560*100%);
                color: #000;
                font-size: (26/2/16em);
//                font-weight: bold;
                padding: 38/2px 0 21px 0;
                line-height: 1.4em;
                margin: 0 auto;
                &_top{
                    width: 100%;
                    padding: 18px 0 0 0;
                }
                &_bottom{
                    width: 100%;
                    padding: 18px 0 18px;
                }
                span{
                    color: #ef2c1e;
                }
            }
        }
        &-slider{
            width: 400/2px;
            height: 139px;
            position: relative;
            margin: 0 auto;
            &__list{
                width: 400/2px;
                margin: 0 auto;
                background: #fff;
                height: 139px;
                border: 2/2px solid #e2e1de;
                padding: 10/2px;
                -moz-box-shadow: 6/2px 6/2px 3/2px #222;
                -webkit-box-shadow: 6/2px 6/2px 3/2px #222;
                box-shadow: 6/2px 6/2px 3/2px #c1c0bc;
            }
            &__item{
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &-bottom{
            height: 235px;
            width: 100%;
            position: relative;
            margin-bottom: 0;
        }
    }
    .footer{
        border-top: 2px solid #000;
        width: 100%;
        position: relative;
        .clearfix;
        &_border{
            display: none;
        }
        &__logo{
            display: none;
        }
        &__list{
            display: none;
        }
        &__item{
            width: 33.3%;
            float: left;
            margin-right: 0;
            min-height: 190/2px;
            ul li{
                font-size: 0.625em;
                color: #000;
                padding: 0 0 10/2px 0;
                &:first-child{
                    font-size: 0.6875em;
                    padding: 0 0 20/2px 0;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                &:last-child{
                    padding: 0 0 26/2px 0;
                }
            }
            &_hair {
                float: left;
            }
            &_desk{
                display: none;
            }
            &_tablet{
                display: block;
            }
        }
        &-connect{
            display: none;
        }
        &-social{
            display: block;
            .clearfix;
            padding: 23px 10px 18px;
            &__item{
                float: left;
                width: 29px;
                margin-right: 19%;
                &:last-child{
                    margin-right: 0;
                }
                img{
                    width: 100%;
                    height: auto;
                }
                &_insta{
                    margin-right: 0;
                }
            }
        }
        &-signup {
            position: relative;
            width: 236px;
            box-sizing: border-box;
            margin: 21px auto 27px;
            padding: 0;
            bottom: 0;
            float: none;
            p{
                font-size: (24/2/16em);
                text-transform: uppercase;
                padding-bottom: 16/2px;
                text-align: center;
            }
            &__input{
                width: 236px;
                height: 65/2px;
                padding: 20/2px 6.2px;
                font-size: (12/16em);
                border: 1px solid #ccc;
                position: relative;
                display: block;
            }
            &__btn{
                background-size: 68/2px 65/2px;
                width: 68/2px;
                height: 65/2px;
                right: 0;
                bottom: 0;
            }
        }
        &-tel{
            width: 100%;
            border-bottom: 1px solid #000;
            border-top: 1px solid #000;
            border-left: 0;
            height: 123/2px;
            padding: 30/2px 0;
            box-sizing: border-box;
            float: none;
            margin-bottom: 0;
            &_i{
                display: block;
                width: 248px;
                margin: auto;
                color: #000;
                margin-bottom: 0;

                .clearfix;
                p{
                    float: left;
                    font-size: (24/2/16em);
                    text-transform: uppercase;
                    padding: 9px 19px 10px 2px;
                    border-right: 1px solid #ccc;
                    box-sizing: border-box;
                }
                span{
                    float: left;
                    font-size: (24/2/16em);
                    font-weight: normal;
                    padding: 9px 0 20/2px 12px;
                }
            }
        }
    }
    .nav-bottom{
        background: #000;
        padding: 0;
        &__i{
            &:extend(.container);
            .clearfix;
            padding: 0;
            margin-bottom: 12px;
//            width: 100%;
        }
        .clearfix;
        &__list{
            padding: 0;
            width: 100%;
            margin: 0 auto;
        }
        &__item{
            float: none;
            display: inline-block;
            text-align: center;
//            font-size: 1em;
            &:first-child{
                display: block;
                padding: 21px 0 0 0;
                font-size: 1.25em;
            }
            &:last-child{
                padding-right: 0;
            }
        }
        &__link{
            color: #fff;
        }
        &__map{
            display: none;
        }
        &__discon{
            display: none;
        }
        &__tel{
            display: none;
        }
        &__global{
            width: 162/560*100%;
            text-align: right;
            padding: 0;
            margin: 11px 0;
        }
        &__privacy{
            width: 182/560*100%;
            text-align: left;
            padding: 0;
            margin: 11px 0;
            border-right: 1px solid #525252;
        }
        &__terms{
            padding: 0;
            width: 206/560*100%;
            margin: 11px 0;
            border-right: 1px solid #525252;
        }
    }
}
@media only screen and (max-width: 730px){
    .content-bottom{
        height: 205px;
    }
    .footer-social__item{
        margin-right: 16%;
    }
}
@media only screen and (max-width: 540px){
    .content-bottom{
        height: 170px;
    }
    .footer-social__item{
        margin-right: 15%;
    }
}
@media only screen and (max-width: 460px){
    .content-bottom{
        height: 115px;
    }
    .footer-social__item{
        margin-right: 13.5%;
    }
}
@media only screen and (max-width: 384px){
    .footer-social__item{
        margin-right: 11%;
    }
}
//@media only screen and (max-width: 320px){
//    .nav-bottom {
//        &__item {
//            font-size: 0.8em;
//        }
//    }
//}