@media only screen and (max-width: 1024px) {
    .container {
        //        max-width: 768px;
        width: 100%;
        padding: 0 (40/768*100%);
        margin: 0 auto;
    }

    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 100%;
    }

    h1, h2, p, ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }

    body {
        background: url("../images/bg.png") repeat;
    }

    .header {
        background: #000;
        &__i {
            &:extend(.container);
            .clearfix;
        }
        &__link,
        &__join-link {
            display: inline-block;
            font: (12/16em) timesbold;
            padding: 12px 0 11px;
        }
        &__link {
            color: #fff;
            text-transform: uppercase;
            padding-left: 40px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 5px;
                width: 33px;
                height: 24px;
                background: url(../images/header_earth.png) no-repeat;
            }
        }
        &__join-link {
            color: #e71c25;
            margin: 0;
            font-family: Helvetica;
            font-weight: bold;
            font-size: (12/16em);
        }
        &-nav {
            float: right;
            &__item {
                margin-left: 5px;
                &:first-child {
                    margin-left: 0;
                }
            }
            &__item,
            &__link {
                display: inline-block;
            }
            &__link {
                color: #fff;
                text-transform: uppercase;
                font: (11/16em) timesbold;
                padding: 12px 0 10px;
                position: relative;
                &_icon {
                    padding-left: 22px;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                    }
                }
                &_chat:before {
                    background: url(../images/chat.png) no-repeat;
                    width: 19px;
                    height: 18px;
                    top: 7px;
                }
                &_flag:before {
                    background: url(../images/flag.png) no-repeat;
                    width: 16px;
                    height: 11px;
                    top: 12px;
                }
            }
        }
    }

    .page {
        background: #fff;
        &:extend(.container);
        &-header {
            text-align: center;
            position: relative;
            &__logo {
                width: 52.9%;
                margin: 31px 0 14px;
                height: auto;
            }
            &__register {
                position: absolute;
                left: 0;
                top: 0;
                margin: 10px 0;
                text-transform: uppercase;
                li {
                    float: left;
                    color: #000;
                    font-size: 0.6875em;
                    padding-left: 10px;
                    &:first-child {
                        padding: 0 10px 0 0;
                        border-right: 1px dotted #000;
                    }
                }
            }
            &__samples {
                position: absolute;
                right: 0;
                top: 0;
                margin: 12px 0;
                color: #ff0000;
                font-size: 0.6875em;
            }
            &__bag {
                //            background: #202629;
                position: absolute;
                height: 22px;
                right: 0;
                bottom: 9px;
            }
            &__bag-link {
                color: #fff;
                font-size: 0.625em;
                padding: 6px 7px;
                background: #202629;
            }
            &__search {
                width: 17.48%;
                position: absolute;
                left: 0;
                bottom: 12px;
                img {
                    position: absolute;
                    right: 8px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            &__search-input {
                width: 100%;
                padding: 7px 8px;
                font-size: 0.75em;
                border: 1px solid #ccc;
            }
        }
    }
    .nav{
        padding: 7px 4.3%;
        .clearfix;
        &__item{
            margin-right: 12.7%;
            &_hair{
                margin-right: 12.1%;
            }
            &_gifts,
            &_about {
                display: none;
            }
            &:last-child{
                margin-right: 0;
            }
        }
        &__link{
            color: #000;
        }
    }
    .bread-crumbs {
        width: 100%;
        padding: 15px 4px 7px;
        .clearfix;
        &__item {
            float: left;
            font-size: 0.6875em;
            &_slash {
                padding: 0 1.05%;
            }
        }
        &__link {
            text-transform: uppercase;
            color: #767676;
            &_active {
                color: #d8492c;
            }
            span{
                display: inline-block;
            }
        }
    }
    .content {
        width: 100%;
        position: relative;
        background: #f5efe6;
        &__image {
            &_top {
                position: absolute;
                width: 100%;
                height: auto;
            }
            &_logo {
                width: (180/688*100%);
                height: auto;
                margin: 0 auto;
                padding: 40px 0 28px;
                display: block;
            }
        }
        &-about {
            width: (470/688*100%);
            margin: 0 auto;
            text-align: center;
            &__text {
                color: #000;
//                font: 0.9375em helveticaregular;
//                font-weight: bold;
                padding: 26px 0 19px;
                line-height: 1.35em;
            }
            &__quote {
                color: #000;
                width: (450/492*100%);
                margin: 0 auto;
            }
            &__quote-sign {
                font-size: (30/16em);
            }
            &__quote-text {
                font-size: 1.0625em;
                padding-bottom: 12px;
            }
            &__author {
                font-size: 0.82em;
                font-weight: normal;
                color: #000;
                padding-top: 13px;
                letter-spacing: -0.3px;
            }
            &__img {
                padding: 24px 0 27px;
                margin: 0 auto;
                width: 34.6%;
                height: auto;
                display: block;
            }
        }
        &-mission {
            width: 100%;
            text-align: center;
            &__text {
                width: (492/688*100%);
                margin: 0 auto;
                color: #000;
//                font: 0.9375em helveticaregular;
//                font-weight: bold;
                padding: 28px 0 23px;
                line-height: 1.35em;
                &_little {
                    padding: 21px 0 17px;
                }
            }
            &__money {
                color: #e71c25;
                .clearfix;
                max-width: 538px;
                margin: 0 auto;
                position: relative;
                font-weight: bold;
                .sign {
                    vertical-align: middle;
                    float: left;
                }

            }
            &__money-num {
                margin: 0 3px;
                padding: 0px 15px 0;
                border: 2px solid #4f4e4d;
                font-size: (48/16em);
                &_first {
                    &:before {
                        content: '$';
                        position: absolute;
                        left: -50px;
                        font-size: 56px;
                        top: 3px;
                    }
                }
            }
            &__money-pt {
                padding: 0 9px;
                font-size: (48/16em);
            }
            &__img {
                padding: 0 0 21px;
                margin: 0 auto;
                width: 13.77%;
                height: auto;
                display: block;
            }
        }
        &-events {
            width: (480/688*100%);
            margin: 0 auto;
            text-align: center;
            &__text {
                color: #000;
                line-height: 1.35em;
//                font: 0.9375em helveticaregular;
//                font-weight: bold;
                span {
                    color: #ef2c1e;
                }
                &_top {
                    padding: 35px 0 0 0;
                }
                &_bottom {
                    padding: 18px 0 34px;
                }
            }
        }
        &-slider {
            width: 492px;
            height: 338px;
            position: relative;
            margin: 0 auto;
            &__list {
                width: 492px;
                margin: 0 auto;
                background: #fff;
                height: 338px;
                border: 2px solid #e2e1de;
                padding: 12.5px 12px;
                -moz-box-shadow: 6px 6px 3px #222;
                -webkit-box-shadow: 6px 6px 3px #222;
                box-shadow: 6px 6px 3px #c1c0bc;
            }
            &__item {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &-bottom {
            height: 265px;
            margin-bottom: 40px;
            margin-top: 2px;
        }
    }
    .footer {
        border-top: 6px solid #000;
        width: 100%;
        position: relative;
        .clearfix;
        &_border {
            .clearfix;
            border-bottom: 2px solid #000;
        }
        &__logo {
            float: left;
            margin: 34px (20/688*100%) 0 0;
            width: (98/688*100%);
            height: auto;
        }
        &__list {
            .clearfix;
            width: (570/688*100%);
            float: left;
            margin: 25px 0 0 0;
            border-right: 0;
        }
        &__item {
            width: 33.3%;
            float: left;
            margin-right: 0;
//            min-height: 173px;
            min-height: 175px;
            ul li {
                font-size: 0.625em;
                color: #000;
                padding: 0 0 8px 0;
                &:first-child {
                    font-size: (12/16em);
                    padding: 0 0 14px 0;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                &:last-child {
                    padding: 0;
                }
            }
            &_hair-more {
                float: left;
                min-height: 148px;
            }
            &_desk {
                display: none;
            }
            &_tablet {
                display: block;
                padding-left: (37/570*100%);
                min-height: 148px;
            }
            &_men {
                padding-left: (37/570*100%);
            }
            &_body {
                padding-left: (38/570*100%);
            }
            &_about {
                padding-left: (38/570*100%);
                min-height: 148px;
            }
        }
        &-connect {
            width: (236/688*100%);
            float: left;
            margin: 17px 0 0;
//            height: 100px;
            border-right: 1px solid #b2b2b2;
            &__item {
                position: relative;
                margin: 0 0 7px 16px;
                float: left;
                &:first-child {
                    padding: 0 0 13px 0;
                    margin: 0;
                    width: 100%;
                    a {
                        font-size: (11/16em);
                        margin: 0;
                        padding: 0;
                        text-transform: uppercase;
                        font-weight: bold;
                        color: #000;
                    }
                }
                &_icon {
                    width: (50-18/236*100%);
                }
                &_fb {
                    margin-left: 0;
                    margin-bottom: 0;
                    margin-right: 16px;
                    width: (50-18/236*100%);
                }
            }
        }
        &-signup {
            position: relative;
            width: (266/688*100%);
            box-sizing: border-box;
            padding: 0 (34/688*100%);
            margin-top: 21px;
            bottom: 0;

            float: left;
            p{
                font-size: 0.7em;
            }
            &__input{
                width: 88%;
            }
            &__btn{
                right: 14.78%;
            }
        }
        &-tel {
            display: block;
            width: (186/688*100%);
            height: 100px;
            padding: 0 (34/688*100%);
            margin-top: 21px;
            margin-bottom: 20px;
            box-sizing: border-box;
            border-left: 1px solid #b2b2b2;
            float: left;
            p {
                font-size: (11/16em);
                text-transform: uppercase;
                padding-bottom: 11px;
                font-family: Arial;
                font-weight: bold;
            }
            span {
                font-size: (10/16em);
                color: #000;
            }
        }
    }
    .nav-bottom {
        background: #000;
        padding: 0;
        &__i{
            &:extend(.container);
            background: #000;
        }
        .clearfix;
        &__list{
            width: 100%;
            background: #000;
            .clearfix;
            padding: 8px 0;
        }
        &__item {
            float: left;
            text-align: center;
            padding-right: 9%;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
        &__link {
            font-size: (12/16em);
            color: #fff;
        }
        &__tel {
            display: none;
        }
        &__global {
            padding-right: 0;
        }
    }
}
    @media only screen and (max-width: 982px) {
        .nav{
            &__item{
                margin-right: 10.7%;
                &_hair{
                    margin-right: 10.1%;
                }
            }
        }
        .nav-bottom__item {
            padding-right: 8%;
        }

        .nav-bottom__global {
            padding-right: 0;
        }
    }
    @media only screen and (max-width: 900px) {
        .nav-bottom__item {
            padding-right: 7%;
        }

        .nav-bottom__global {
            padding-right: 0;
        }
    }
    @media only screen and (max-width: 830px) {
        .nav-bottom__item {
            padding-right: 5.8%;
        }

        .nav-bottom__global {
            padding-right: 0;
        }
        .nav-bottom__map{
            padding-right: 6.8%;
        }
    }